<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Park Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="mainTab" class="nav-item" >
                <a class="nav-link" href="/">Home </a>
            </li>
            <li id="saveTab" class="nav-item">
                <a class="nav-link" href="/saved">Saved List</a>
            </li>
            <li id="scrapeTab" class="nav-item">
                <a class="btn btn-success" href="/scrape">Scrape</a>
            </li>
            <li class="nav-item">
            <a class="btn btn-danger" id="clearAllBtn">Clear All Park Info</a>
            </li>
        </ul>
    </div>
</nav>

<div class="overlay"> 
    <div class="home-title">
        <h1> Mongo Scraper: Texas Parks Catalog</h1>
    </div>
    <div class="background-image">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- Park List Dropdown -->
            {{#if articles}}
            <div id="articles">
                <ul class="menu">
                    {{#each articles}}
                        <li class="list-item">
                            <!-- Park Card -->
                            <div class="card">
                                    <!-- Park Header -->
                                    <div class="park-header">
                                        <!-- Park Name --> 
                                        <a class="park-url" href={{this.url}}>
                                            <h4 class="card-header name">
                                                {{this.name}}
                                            </h4>
                                        </a>
                                        <!-- Park Image -->
                                        <img class="parkpic" src={{this.image}} />
                                        <i class="fa fa-arrow-circle-down expand-button" type="button" data-toggle="collapse" data-parent=".list-item" aria-hidden="true"></i>
                                    </div>
                                    <div class="row">
                                        <!-- Collapsible Article Info -->
                                        <div class="article-body card-body collapse" data-id={{this._id}}>
                                            <div id="contact"> 
                                            
                                            <h6>{{this.phone}}</h6>
                                            <h6>{{this.address}}</h6>
                                            </div>
                                            <h4>
                                            <a class="article" href=""></a>   
                                            <a class="btn btn-success" id="saveBtn" data-id={{this._id}}>Save Park</a>
                                            </h4>
                                        </div>
                                    </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
            {{else}}
            <div class="alert alert-info text-center" role="alert">
                <h3> 
                No Parks have been scraped.
                </h3>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h3>Click Here to Browse Scraped Available Texas Parks</h3>
                </div>
                <div class="card-body text-center">
                    <h4 class="showParks">
                    <a href="/scrape">Browse Park Info</a>
                    </h4> 
                </div>
            </div>
            {{/if}}
            </div>
        </div>
        <footer class="footer" style="vertical-align: text-bottom"> 
            <h5>Texas Parks MongoDB Scraper</h5> 
        </footer>
    </div>
</div>


    