<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Park Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="mainTab" class="nav-item" >
                <a class="nav-link" href="/">Home </a>
            </li>
            <li id="saveTab" class="nav-item">
                <a class="nav-link" href="/saved">Saved List</a>
            </li>
            <li id="scrapeTab" class="nav-item">
                <a class="btn btn-success" href="/scrape">Scrape</a>
            </li>
            {{#if savedArticle}}
            <li class="nav-item">
            <a class="btn btn-danger" id="clearSavedBtn">Clear All Park Info</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="overlay"> 
    <div class="home-title">
        <h1> Mongo Scraper: Texas Parks Catalog</h1>
        <p> View Saved Parks </p>
    </div>
    <div class="background-image">
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="savedArticles">
            {{#each savedArticle}}
            <ul class="dropdown">
                <!-- Park List Dropdown --> 
                <li class="list-item">
                    <div class="card" data-id={{this._id}}>
                        <!-- Park Header -->
                        <div class="park-header">
                            <!-- Park Name --> 
                            <a class="park-url" href={{this.url}}>
                                <h4 class="card-header name">
                                    {{this.name}}
                                </h4>
                            </a>
                            <!-- Park Image -->
                            <img class="parkpic" src={{this.image}} />
                            <i class="fa fa-arrow-circle-down expand-button" type="button" data-toggle="collapse" data-parent=".list-item" aria-hidden="true"></i>
                        </div>
                        <div class="article-body card-body collapse">
                            <div id="contact"> 
                                <h5>Contact Details</h5> 
                                <p>Phone: {{this.phone}}</p>
                                <p>Address: {{this.address}}</p>
                            </div>
                            <div id="park-details">
                                <h5>Additional Park Info</h5>
                                <p>Fees: {{this.fees}}</p>
                                <p>Hours: {{this.hours}}</p> 
                                <p>Average Weather: {{this.climate}}</p>
                            </div>
                            <h4>
                            <a class="article" href=></a>   
                            <a class="btn btn-danger" id="removeBtn" data-id={{this._id}}>Remove from Saved</a>
                            <a class="btn btn-info noteBtn" data-id={{this._id}}>Add Note to Park</a>
                            </h4>
                            <form id="new-note"></form>
                            <p id="notes">
                                <h6>{{this.note.title}}</h6>
                                <p>{{this.note.body}}</p>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            {{/each}}
        </div>
            {{#unless savedArticle.length}}
            <div class="alert alert-info text-center" role="alert">
                <h3> 
                No Parks have been saved.
                </h3>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    <h3>Click Here to Browse Scraped Available Texas Parks</h3>
                </div>
                <div class="card-body text-center">
                    <h4>
                    <a href="/">Browse Park Info</a>
                    </h4> 
                </div>
            </div>
            {{/unless}}
        </div>
        <footer class="footer"> 
            <h5>Texas Parks MongoDB Scraper</h5> 
        </footer>
    </div>
</div>